@model Hamporsesh.Application.Core.ViewModels.Dashboard.DashboardDto

@{
    ViewData["Title"] = "داشبورد";
}


<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-money color-success border-success"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">تعداد کل نظرسنجی‌ها</div>
                    <div class="stat-digit">@Model.TotalPolls</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-user color-primary border-primary"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">تعداد کل شرکت‌کننده‌ها</div>
                    <div class="stat-digit">@Model.TotalResponses</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-layout-grid2 color-pink border-pink"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">تعداد کل سوال‌ها</div>
                    <div class="stat-digit">@Model.TotalQuestions</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="stat-widget-one">
                <div class="stat-icon dib">
                    <i class="ti-link color-danger border-danger"></i>
                </div>
                <div class="stat-content dib">
                    <div class="stat-text">تعداد کل جواب‌ها</div>
                    <div class="stat-digit">@Model.TotalAnswers</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-title">
                <h4>تعداد پاسخ‌ها در روزهای اخیر</h4>

            </div>
            <div class="card-body">
                <canvas id="myChart" width="400" height="100"></canvas>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <!-- /# column -->
    <div class="col">
        <div class="card">
            <div class="card-title pr">
                <h4>نظرسنجی‌های اخیر</h4>

            </div>
            <div class="card-body">
                <div class="table-responsive">


                    <table id="bootstrap-data-table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>موضوع</th>
                                <th>تاریخ ایجاد</th>
                                <th>تعداد شرکت‌کننده‌ها</th>
                                <th>وضعیت</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var poll in Model.Polls)
                            {
                                <tr>
                                    <td>
                                        <a href="@Url.ActionLink(action: "Details", controller: "Polls", values: new {id = poll.Id})">@poll.Title</a>
                                    </td>
                                    <td>@poll.Description</td>
                                    <td>@poll.CreateDateTimeStr</td>
                                    <td>@poll.TotalResponses</td>
                                    <td>@poll.Status.ToString()</td>

                                </tr>
                            }


                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

        var days = @Html.Raw(Json.Serialize(Model.Days));
        var responses = @Html.Raw(Json.Serialize(Model.Responses));

            var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: days,
                datasets: [{
                    label: 'Responses of',
                    data: responses,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

}